
@import '../../node_modules/uikit/src/less/uikit.less';



//base varialbles 


@base-body-background:                      #fafafa;
@base-body-font-family:                       'Montserrat', sans-serif;
@base-body-font-weight:                         normal;
@base-body-font-size:                           @global-font-size;




//container

@container-max-width:                   2500px;

//height


@height-medium-height:                          450px;



//card

@card-default-background:  white;
 .hook-card-default(){
    border-radius:8px;
 }



//breakpoint for desktop and mobile


@breakpoint-large: 1200px;
@breakpoint-small: 150px;



//navigational bar


@navbar-background:#ffffff;

@navbar-nav-item-color: #657786;
@navbar-item-color: #657786;
@navbar-nav-item-active-color: #21D397;
@navbar-nav-item-hover-color:  #21D397;
@navbar-nav-item-onclick-color:  #21D397;
@navbar-toggle-color:  white;
@navbar-toggle-hover-color: white;
@navbar-nav-item-padding-horizontal: 9px;
@navbar-nav-item-font-size: 17px;
@navbar-nav-item-height: 65px;
@navbar-nav-item-font-family:   'Quicksand', sans-serif;
// @navbar-subtitle-font-size:  14px;

//logo
@logo-color: #21D397;

@logo-hover-color:linear-gradient(45deg,#744FFF,#21D397);
@logo-font-family:  'Righteous', cursive;
@logo-font-size: 20px;


//navbar container

.hook-navbar-container() {
  padding-left:100px;
  padding-right:100px;
  margin-right: auto;
  margin-left: auto;

}

//navbar item subtitle

// .hook-navbar-subtitle() {
//   text-align: center; 
//   padding-top:5px;
//   margin-left:-9px; 
//   font-family: 'Montserrat', sans-serif;
//   text-align: center;
// }

// .hook-navbar-nav-item-hover() {
//     border-bottom: 2px solid white;
//      animation-timing-function:ease-in;

// }
// .hook-navbar-nav-item-active() {
//     border-bottom: 2px solid white;
//     animation-timing-function:ease-in;

// }



//dropdown


@dropdown-min-width: 200px;
@dropdown-background: white;


.hook-dropdown() {
border-radius:9px;
}
.hook-dropdown-nav-item-hover() {
    color: linear-gradient(45deg,#247CC4,#336BAE);
}


//tabs
 .hook-tab-right(){

 }

.hook-tab-item-hover() {
    border-bottom:3px solid white;
}
.hook-tab-item-active() {
      border-bottom:3px solid white;

}




/*
 * button outline
 */

.uk-button-outline {
    background-color:transparent;
    color: #21D397;
    font-size: 12px;
    border:;
     //.hook-button-outline;
}

/* Hover + Focus */
.uk-button-outline:hover,
.uk-button-outline:focus {
    background-color:transparent;
    color:#21D397;
    // .hook-button-outline-hover;
}

/* OnClick + Active */
.uk-button-outline:active,
.uk-button-outline.uk-active {
    background-color:transparent;
    color: #21D397;
   //.hook-button-outline-active;
}




//facebook

.uk-button-facebook {
    background-color: #3578E5;
    color: #ffff;
    font-size: 12px;
     //.hook-button-facebook;
}

/* Hover + Focus */
.uk-button-facebook:hover,
.uk-button-facebook:focus {
    background-color: #3578E5;
    color:#ffff;
    // .hook-button-facebook-hover;
}

/* OnClick + Active */
.uk-button-facebook:active,
.uk-button-facebook.uk-active {
    background-color:#3578E5;
    color: #ffff;
   //.hook-button-facebook-active;
}