
@import '../../node_modules/uikit/src/less/uikit.less';



//base varialbles 


@base-body-background:                      #eee;
@base-body-font-family:                       'Montserrat', sans-serif;
@base-body-font-weight:                         normal;
@base-body-font-size:                           @global-font-size;




//container

@container-max-width:                   2500px;

//height


@height-medium-height:                          450px;



//card

@card-default-background:  white;
 .hook-card-default(){
    border-radius:12px;
 }



//breakpoint for desktop and mobile


@breakpoint-large: 1200px;
@breakpoint-small: 150px;



//navigational bar


@navbar-background:   linear-gradient(45deg,#247CC4,#336BAE);
@navbar-nav-item-color: white;
@navbar-item-color: white;
@navbar-nav-item-active-color: white;
@navbar-nav-item-hover-color:  white;
@navbar-nav-item-onclick-color:  white;
@navbar-toggle-color:  white;
@navbar-toggle-hover-color: white;
@navbar-nav-item-padding-horizontal: 9px;
@navbar-nav-item-font-size: 17px;
@navbar-nav-item-height: 90px;

// @navbar-subtitle-font-size:  14px;

//logo
@logo-color:white;
@logo-hover-color:white;
@logo-font-family: 'Oleo Script', cursive;
@logo-font-size: 20px;


//navbar container

.hook-navbar-container() {
  padding-left:100px;
  padding-right:100px;
  margin-right: auto;
  margin-left: auto;

}

//navbar item subtitle

// .hook-navbar-subtitle() {
//   text-align: center; 
//   padding-top:5px;
//   margin-left:-9px; 
//   font-family: 'Montserrat', sans-serif;
//   text-align: center;
// }

// .hook-navbar-nav-item-hover() {
//     border-bottom: 2px solid white;
//      animation-timing-function:ease-in;

// }
// .hook-navbar-nav-item-active() {
//     border-bottom: 2px solid white;
//     animation-timing-function:ease-in;

// }



//dropdown


@dropdown-min-width: 200px;
@dropdown-background: white;


.hook-dropdown() {
border-radius:9px;
}
.hook-dropdown-nav-item-hover() {
    color: linear-gradient(45deg,#247CC4,#336BAE);
}
//button

@button-text-color: #247CC4;
@button-font-size:12px;
@button-line-height: 30px;

.uk-button {
    /* 1 */
    margin: 0;
    /* 2 */
    border: 1px solid #247CC4;
    /* 3 */
    overflow: visible;
    /* 4 */
    font: inherit;
    color: inherit;
    /* 5 */
    text-transform: uppercase;
    /* 6 */
    display: inline-block;
    box-sizing: border-box;
    padding: 0 @button-padding-horizontal;
    vertical-align: middle;
    font-size: @button-font-size;
    /* 7 */
    line-height: @button-line-height;
    /* 8 */
    text-align: center;
    /* 9 */
    text-decoration: none;
   
}

 .hook-button(){

    border-radius:5px;
    padding-left:70px;
 }
.uk-button-default {
    background-color: @button-default-background;
    color: #247CC4;
    .hook-button-default;
}
.uk-button-default:hover,
.uk-button-default:focus {
    background-color: #247CC4;
    color: white;
    .hook-button-default-hover;
}


//tabs
 .hook-tab-right(){

 }

.hook-tab-item-hover() {
    border-bottom:1px solid #247CC4;
}
.hook-tab-item-active() {
      border-bottom:1px solid #247CC4;

}


//forms

@form-height:                                  40px;
@form-line-height:                              @form-height;
@form-padding-horizontal:                       30px;
@form-padding-vertical:                         4px;

@form-background:                               @global-muted-background;
@form-color:                                    white;

@form-focus-background:                         @global-muted-background;
@form-focus-color:                              grey;

@form-disabled-background:                      @global-muted-background;
@form-disabled-color:                           @global-muted-color;

@form-placeholder-color:                        grey;


@form-width-xsmall:                             50px;
@form-width-small:                              130px;
@form-width-medium:                             300px;
@form-width-large:                              500px;


@form-horizontal-label-width:                   200px;
@form-horizontal-label-margin-top:              7px;
@form-horizontal-controls-margin-left:          215px;
@form-horizontal-controls-text-padding-top:     7px;

@form-icon-width:                               @form-height;
@form-icon-color:                               @global-muted-color;
@form-icon-hover-color:                         @global-color;





.uk-input::-ms-input-placeholder { color: @form-placeholder-color !important; }
.uk-input::placeholder { 
    color: grey; 
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;


}


.uk-form-icon-flip {
    right: 0;
    left: auto;
}

.uk-form-icon-flip ~ .uk-input { padding-right: @form-icon-width !important; }


// Hooks
// ========================================================================

.hook-form-misc;

.hook-form() {
    border:none;
    border-radius:5px;
}
.hook-form-single-line() {}
.hook-form-multi-line() {}
.hook-form-focus() {
    border:none;
}
.hook-form-disabled() {}
.hook-form-danger() {}
.hook-form-success() {}
.hook-form-blank() {}
.hook-form-blank-focus() {}
.hook-form-radio() {}
.hook-form-radio-focus() {}
.hook-form-radio-checked() {}
.hook-form-radio-checked-focus() {}
.hook-form-radio-disabled() {}
.hook-form-legend() {}
.hook-form-label() {}
.hook-form-stacked-label() {}
.hook-form-horizontal-label() {}
.hook-form-misc() {}

